.nav-link {
  color: #000000;
  font: normal 40px "Roboto", sans-serif;
  font-weight: 400;
}

.typed-text {
  /*! typed.js v2.0.6 */
  font: normal 40px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

.background {
  background-image: url("img/wallpaper.jpg"); /* Path to your image file */
  background-color: #f0f0f0; /* Set your desired background color */
  background: linear-gradient(
      0deg,
      transparent 60%,
      rgba(0, 0, 0, 0.1) 60%,
      rgba(0, 0, 0, 0.1) 61%,
      transparent 61%
    ),
    url(img/wallpaper.jpg); /* Path to your image file */
  height: 100vh; /* Adjust as needed */
}
